// Colors

// Primary Colors
$bg-intro-email: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonials: hsl(219, 30%, 18%);

// Accent Colors
$acc-cta-btn: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
$acc-error: hsl(0, 100%, 63%);

// Neutral Colors
$c-neutral: hsl(0, 0%, 100%);

// Typography
$font-heading: "Raleway", sans-serif;
$font-body: "Open Sans", sans-serif;
$fs-title: 1.875rem;
$fs-feature-title: 0.9375rem;
$fs-section-title: 1.5625rem;
$fs-body: 0.875rem;
$fw-reg: 400;
$fw-bold: 700;
